

<div id="no_site">

    <h1>Welcome to FarBox</h1>

    <hr />


    <h2>FarBox是如何工作的</h2>

    <div>
        <img src="/_image/guide/how-it-works.png">
    </div>

    <div style="margin-top:50px">
        <img src="/_image/guide/platforms.png">
    </div>

    <hr />


    <h2>第一次使用FarBox Editor?</h2>

    <div>
        <img src="/_image/guide/use-editor.png">
    </div>

    <div class="buttons">
        <a class="button" href="/service/download-editor" target="_blank">下载 FarBox Editor</a>
    </div>

    <hr />


    <h2>不使用FarBox Editor?</h2>

    <div>
        <img src="/_image/guide/not-use-editor.png">
    </div>


</div>







