{% extends 'base.html' %}

{% block title %} FarBox {%endblock%}

{% block content %}


{% if not request.is_login %}
    <style type="text/css">
        body {
            min-width: 960px;
        }
    </style>
    <video id="farbox_v" class="vjs-default-skin" controls
           preload="none" width="960" height="540" poster="/template/css/farbox/index.png">
        <source src="http://stg.farbox.com/fb/v/demo.mp4" type='video/mp4'>
    </video>

    <div class="buttons">
        <a class="button" href="/service/google/auth">使用Google Drive 登录 <small>(测试)</small></a>
        <a class=" button" href="/service/dropbox/auth" >使用Dropbox 登录</a>
    </div>

{% else %}
    {% if has('sites') and not request.args.freshman%}
        {% set sites=get_sites() %}
        {% for site in sites%}
            {% include 'include/one_site.html' %}
        {% endfor %}
    {% else %}
        {% include "freshman.html" %}
    {% endif%}

{% endif %}

{% endblock %}
