
.col {
    position: relative;
    margin: 0;
    padding: 0;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.col a {
    text-decoration: none;
}

.col br{
    height: 0;
}


.col h2 small{
    font-size: 0.6em;
    color: #999;
}

.col h2 a{
    color: #555;
}

.col h2 a:hover{
    color: #f17d70;
}

.col h2 {
    margin: 0;
    padding: 0 20px;
    font-size: 18px;
    color: #555;
    line-height: 48px;

    border-bottom: 1px solid #ccc;
    border-top: 1px solid #f7f7f7;
    background: #f3f3f3;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}



.opt_info{
    margin: 50px 0 85px 0;
}

.opt_info .content{
    font-size: 20px;
    line-height: 5.5;
    text-align: center;
    letter-spacing: 2px;
}



.site{
    line-height: 20px;
    margin: 50px 0 85px 0;
    position: relative;
}

.site .commands{
    position: absolute;
    right: 10px;
    top:15px;
}

.site .commands a:hover{
    text-decoration: underline;
}

.site li{
    list-style: none;
    float: left;
    text-align: center;
    width: 25%;
    position: relative;
    padding: 30px 0;
}


.site li:hover{
    background: #f6f6f6;
}

.site li a{
    display: block;
}

.site .caption{
    font-size: 10px;
    color: #757575;
    font-weight: bold;
    top: 35px;
    left: auto;
    display: none;
}

.site .tip{
    font-size: 24px;
}

.site .tip small{
    font-size: 0.6em;
    position: relative;
    top: -4px;
}



#no_site{

}

#no_site hr{
    border: none;
    border-bottom: 1px dashed #ddd;
    height: 1px;
    margin: 50px 0;
}

#no_site h1,#no_site h2{
    padding:0;
    margin:0;
    border:0;
    line-height:2.7;
    text-align:center;
    clear:both;
    letter-spacing: 1px;
    color: #333;
}

#no_site h1{
    margin-top:50px;
    font-size:56px;
}

#no_site h2 {
    font-size: 36px;
    margin-bottom: 20px;

}